N8N_VERSION=2.2.6

TZ=Europe/Istanbul
GENERIC_TIMEZONE=Europe/Istanbul

N8N_HOST=localhost
N8N_PROTOCOL=http
N8N_EDITOR_BASE_URL=http://localhost:5678/
WEBHOOK_URL=http://localhost:5678/
N8N_LOG_LEVEL=info

POSTGRES_DB=n8n
POSTGRES_USER=n8n_admin
POSTGRES_PASSWORD=change-me
POSTGRES_NON_ROOT_USER=n8n
POSTGRES_NON_ROOT_PASSWORD=change-me

REDIS_PASSWORD=change-me

N8N_ENCRYPTION_KEY=change-me-with-a-long-random-value
N8N_RUNNERS_AUTH_TOKEN=change-me-with-a-long-random-value
NODES_EXCLUDE=["n8n-nodes-base.executeCommand"]

WORKER_CONCURRENCY=10
EXECUTIONS_DATA_MAX_AGE=336
EXECUTIONS_DATA_PRUNE_MAX_COUNT=10000
N8N_RUNNERS_AUTO_SHUTDOWN_TIMEOUT=15

JS_EXTRA_PACKAGES=
NODE_FUNCTION_ALLOW_BUILTIN=crypto,path,util
NODE_FUNCTION_ALLOW_EXTERNAL=
N8N_RUNNERS_STDLIB_ALLOW=
N8N_RUNNERS_EXTERNAL_ALLOW=
